.page {
    max-width: 480px;
    background: #3b5998;
    color: #fff;
    line-height: 1.5;
    position: relative;
}

.header-title {
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}

ul, li {
    display: block;
}

li {
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    background: #3b5998;
}

#menu a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

#menu a:link {
    color: white;
}

#menu a:visited {
    color: white;
}

#menu a:focus {
    border-bottom: 1px solid;
    background: #3b5998;
}

#menu a:hover {
    border-bottom: 1px solid;
    background: #3b5998;
}

#menu a:active {
    background: #3b5998;
    color: #748cbe;
}

#menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 79px;
    overflow: hidden;
    background: #fff;
    color: #3b5998;
    text-align: center;
    font-size: 45px;
    cursor: pointer;
    transition: all .5s;
}

#menu-button::after {
    content: '×';
}

#menu-button.close {
    color: #fff;
    background: #3b5998;
}

#menu-button.close::after {
    content: '≡';
}

#menu {
    margin-left: 155vh;
    transition: transform .5s;
    position: fixed;
    width: 100%;
    max-width: 480px;
    transform: translateY(-300px);
}

#menu.show-menu {
    transform: translateY(51px);
}

.main {
    padding: 62px 12px 12px 12px;
}

body {
    margin: auto;
}

div {
    font-family: Helvetica;
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

/* Début Haut de Page & Menu déroulant */

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    transition: top .2s ease-in-out;
    background-color: #3b5998;
    box-shadow: 1px 1px 25px rgba(151, 136, 136, .35);
    padding: 0 12px;
    box-sizing: border-box;
}

#title_menu {
    color: white;
}

/* Fin Haut de Page & Menu déroulant */

/* Début Première Page & Présentation */

.en_tete {
    background-image: url(../../images/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.quote {
    text-align: center;
    padding: 400px;
    font-size: 15px;
    color: black;
}

.quote h1 {
    margin: 0;
}

.quote h2 {
    margin: 0;
}

/* Photo de Présentation */

.photo {
    padding: 30px;
}

.photo img {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .35);
    border-radius: 50%;
    width: 160px;
}

/* Fin de Photo de Présentation */

.top_pres {
    text-align: center;
}

.top_pres p {
    font-family: Helvetica;
    color: black;
    font-size: 1.2em;
}

.top_pres a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.top_pres p span {
    font-weight: bold;
    color: rgb(53, 130, 206);
}

#bloc_princ_pres {
    text-align: center;
}

#title_pres {
    margin-bottom: 5%;
    margin-top: 5%;
}

.background_pres {
    width: 100%;
    background-color: rgb(231, 231, 231);
    height: auto;
    box-shadow: 1px 1px 25px rgba(151, 136, 136, .35);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bot_pres {
    text-align: center;
}

#inf_contact {
    padding-top: 1%;
    color: black;
    font-size: 1.1em;
}

#inf_contact strong {
    color: rgb(53, 130, 206);
}

/* Fin Première Page & Présentation */

/* Début Page des Formations */

.background_form {
    background-image: url(../../images/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 25px rgba(151, 136, 136, .35);
    height: 100vh;
}

.bloc_left {
    display: inline-block;
    height: 350px;
    width: auto;
    position: absolute;
    padding: 5%;
    text-align: left;
    font-size: 1.2em;
}

#first_form {
    padding: 1%;
}

#first_form h3 {
    margin: 0;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 0.5%;
}

#first_form p {
    color: black;
    margin: 0;
}

#second_form {
    padding: 1%;
}

#second_form h3 {
    margin: 0;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 0.5%;
}

#second_form p {
    color: black;
    margin: 0;
}

#title_form {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* Fin Page des Formations */

/* Début Page des Expériences */

.background_exp {
    background-color: rgb(231, 231, 231);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 25px rgba(151, 136, 136, .35);
    text-align: center;
    height: 500px;
}

#title_exp {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

#first_exp {
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 25px;
    color: black;
}

#first_exp a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

#first_exp span {
    font-weight: bold;
    color: rgb(53, 130, 206);
}

#first_exp p {
    color: black;
    font-size: 20px;
}

#second_exp {
    font-size: 25px;
    color: black;
}

#second_exp p {
    color: black;
    font-size: 20px;
}

/* Fin Page des Expériences */

/* Début Page des Compétences */

#title_comp {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.background_comp {
    background-image: url(../../images/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

/* Bloc & Barres de compétences */

.bloc_comp_2 {
    margin: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 9%;
}

.leader {
    text-align: center;
    padding: 1%;
}

.bar {
    text-align: center;
}

.team {
    text-align: center;
    padding: 1%;
}

.bar_2 {
    text-align: center;
}

.english {
    text-align: center;
    padding: 1%;
}

.bar_3 {
    text-align: center;
}

.file {
    width: 15%;
}

label {
    font-size: 1.5rem;
    color: black;
}

.comp_1 p {
    text-align: center;
    font-size: 1.3rem;
    color: black;
}

/* Fin Bloc & Barres de compétences */

/* Fin Page des Compétences */

/* Début Page Informatique */

#title_informa {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.background_informa {
    background-image: url(../../images/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 50vh;
}

.bloc_informa_2 {
    padding-top: 10%;
}

.background_informa label {
    font-size: 1.5rem;
    color: black;
}

/* Style pour la photo Mes Projets */
.photo {
    padding: 30px;
}

.photo img {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .35);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.top_pres_2 {
    font-family: Helvetica;
    text-align: center;
    color: black;
    font-size: 1.2em;
}

.top_pres_2 a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.top_pres_2 h1 {
    color: black;
}

/* Fin Page Informatique */

/* Début Page Centres d'Intérêt */

#title_interet {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.background_basket {
    background-image: url(../../images/sport.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 400px;
}

.text_basket {
    display: inline-block;
    height: 300px;
    width: auto;
    position: absolute;
    padding: 3%;
    text-align: left;
    font-size: 1.2em;
    color: black;
}

.background_voyages {
    background-image: url(../../images/voyage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 400px;
}

.text_voyages {
    display: inline-block;
    height: 300px;
    width: auto;
    position: absolute;
    padding: 3%;
    text-align: left;
    font-size: 1.3em;
    color: black;
}

.background_culture {
    background-image: url(../../images/culture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 400px;
}

.text_culture {
    display: inline-block;
    height: 300px;
    width: auto;
    position: absolute;
    padding: 2%;
    text-align: left;
    font-size: 1.3em;
    color: black;
}

.text_culture h2 {
    margin: 0;
}

.text_culture p {
    margin-top: 2%;
}

/* Fin Page Centres d'Intérêt */

/* Début Bas de Page */

.footer_menu {
    text-align: center;
    height: auto;
    background-color: #3b5998;
}

.footer_bloc_mid {
    padding: 1.5%;
    width: 500px;
    display: inline-block;
    vertical-align: middle;
    height: -webkit-fill-available;
    color: #ddd;
}

.footer_bloc_mid div {
    text-decoration: none;
    padding: 2%;
}

.footer_bloc_mid div a {
    text-decoration: none;
    font-size: 20px;
    padding: 4.5%;
    color: #ddd;
}

#reseaux a {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#reseaux ul {
    list-style-type: none;
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

#reseaux img {
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.CV {
    padding-left: 15px;
}

.CV a {
    /* Liens par défaut (non survolés) */
    display: block;
    text-decoration: none;
}

.CV a:hover {
    /* Apparence au survol des liens */
    background: url(../../images/down-arrow-download.png) no-repeat;
}


/* Fin de Bas de Page */

/* MediaQuerry - Body - Nouvelles règles si la fenêtre fait au plus 1024px de large */

@media all and (max-width: 1024px) {
    body {
        width: auto;
    }
}

@media all and (max-width: 1024px) {
    .header {
        display: none;
    }
    #menu {
        display: none;
    }
    #menu ul {
        display: none;
    }
    #menu li {
        display: none;
    }
    #menu a {
        display: none;
    }
    .CV a:hover {
        border-bottom: 0;
        display: none;
    }
    .CV a:hover p {
        display: none;
    }
}

@media all and (max-width: 1024px) {
    .quote {
        display: none;
    }
}

@media all and (max-width: 1024px) {
    .top_pres p {
        color: white;
    }
    .background_pres {
        background-color: rgb(34, 32, 32);
        width: auto;
    }
    #inf_contact {
        color: white;
    }
}

@media all and (max-width: 1024px) {
    #first_form h3 {
        display: flex;
    }
}

@media all and (max-width: 1024px) {
    .background_exp {
        background-color: rgb(34, 32, 32);
        height: auto;
    }
    #first_exp {
        color: white;
    }
    #first_exp p {
        color: white;
    }
    #second_exp {
        color: white;
    }
    #second_exp p {
        color: white;
    }
    .background_informa {
        height: auto;
    }
    .bloc_informa_2 {
        padding-top: 0.5%;
        height: auto;
    }
    .background_informa label {
        color: black;
        font-size: 1em;
    }
}

@media all and (max-width: 1280px) {
    .background_comp {
        height: auto;
    }
    .bloc_comp_2 {
        height: auto;
    }
    .fleader {
        font-size: 1em;
    }
    .comp_1 p {
        font-size: 0.9em;
    }
}

@media all and (max-width: 1024px) {
    .background_comp {
        height: auto;
    }
    .bloc_comp_2 {
        height: auto;
    }
    .fleader {
        font-size: 0.9em;
    }
    .comp_1 p {
        font-size: 0.8em;
    }
}

@media all and (max-width: 992px) {
    .background_comp {
        height: auto;
    }
    .bloc_comp_2 {
        height: auto;
    }
    .fleader {
        font-size: 0.7em;
    }
    .comp_1 p {
        font-size: 0.6em;
    }
}

@media all and (max-width: 768px) {
    .background_comp {
        height: auto;
    }
    .bloc_comp_2 {
        height: auto;
    }
    .fleader {
        font-size: 0.6em;
    }
    .comp_1 p {
        font-size: 0.5em;
    }
}

@media all and (min-width: 320px) and (max-width: 600px) {
    .background_comp {
        height: auto;
    }
    .bloc_comp_2 {
        height: auto;
    }
    .fleader {
        font-size: 0.5em;
    }
    .comp_1 p {
        font-size: 0.4em;
    }
}

/* Fn MediaQuerry */